<!DOCTYPE html>
<html>
  <head>
    <title>RailsDevise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%# <p><i class="fa-solid fa-user"></i></p>   %>
    <%= render "shared/navbar" %>
    <%= render 'shared/alerts' %>

  <div class="w-100 ">
      <%= yield %>
  </div>
  </body>
</html>
