<div class="d-xl-flex justify-content-between mt-4  ">
  <% if @product.images.size == 1 %>
  <%= image_tag @product.images.first.variant(resize: '800x500!'), class: "rounded mx-auto w-100 w-md-50 p-3 " %>
  <% else %>
  <div class="w-100 w-md-50 p-3">
    <div class="carousel slide" data-ride="carousel" id="carousel-post-<%= @product.id %>">
      <div class="carousel-inner">
        <% @product.images.each do |photo| %>
        <% if photo == @product.images.first %>
        <div class="carousel-item active">
          <% else %>
          <div class="carousel-item">
            <% end %>
            <%= image_tag photo.variant(resize: '800x500!'), class: "d-block w-100 " %>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carousel-post-<%= @product.id %>" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-post-<%= @product.id %>" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <% end %>
    <div class="p-3 w-100 w-md-50">
      <div class="card     ">
        <div class="  ">
          <div class="card-body  ">
            <h5 class="card-title"><%= @product.name %></h5>
            <p class="card-text"><%= @product.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Size: <%= @product.size %></li>
            <li class="list-group-item">Model: <%= @product.model %></li>
            <li class="list-group-item">Quantity: <%= @product.quantity %></li>
            <li class="list-group-item">Price: <%= @product.price %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


