<p id="notice"><%= notice %></p>

<p>
  <strong>Credit card number:</strong>
  <%= @order.credit_card_number %>
</p>

<p>
  <strong>Credit card expires on:</strong>
  <%= @order.credit_card_expires_on %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
