<% if liked  %>
  <%# likes %>
  <div class="badge badge-pill badge-light">
    <%= link_to " ", question_vote_path(  votable , liked) , method: :delete, remote: true,  class: "fa-solid fa-thumbs-up text-dark text-decoration-none fa-2x" %>
    <span class="h5"><%= likes_count %></span>
  </div>
  <div class="badge badge-pill badge-light">
    <%= link_to " ", question_vote_path(  votable , liked, status: :dislike ) , method: :put, remote: true ,  class: "fa-regular fa-thumbs-down text-dark text-decoration-none fa-2x" %>
    <span class="h5"><%= dislikes_count %></span>
  </div>
<% elsif disliked  %>
  <%# dislikes %>
  <div class="badge badge-pill badge-light">
    <%= link_to " ", question_vote_path(  votable , disliked, status: :like  ) , method: :put , remote: true,  class: "fa-regular fa-thumbs-up text-dark text-decoration-none fa-2x" %>
    <span class="h5"><%= likes_count %></span>
  </div>
  <div class="badge badge-pill badge-light">
    <%= link_to " ", question_vote_path(  votable , disliked) , method: :delete, remote: true,  class: "fa-solid fa-thumbs-down text-dark text-decoration-none fa-2x" %>
    <span class="h5"><%= dislikes_count %></span>
  </div>
<% else %>
  <%# none %>
  <div class="badge badge-pill badge-light">
    <%= link_to " ", question_votes_path(votable, status: :like, user_id: current_user.id ) , method: :post, remote: true ,  class: "fa-regular fa-thumbs-up text-dark text-decoration-none fa-2x" %>
    <span class="h5"><%= likes_count %></span>
  </div>
  <div class="badge badge-pill badge-light">
    <%= link_to " ", question_votes_path(votable, status: :dislike, user_id: current_user.id ) , method: :post, remote: true ,  class: "fa-regular fa-thumbs-down text-dark text-decoration-none fa-2x" %>
    <span class="h5"><%= dislikes_count %></span>
  </div>
<% end %>
