<div class="card my-4" id="Question-<%= question.id.to_s %>" >
  <%= render 'questions/user', question: question %>

  <div class="card-header m-3 bg-transparent font-weight-bold">
    <%= link_to question_url(question), class: "font-weight-bold  "  do %>
      <%= question.text %>
    <% end %>
    <div class="mt-3 " id="Icons-Question-<%= question.id.to_s %>">
      <%= render 'questions/icons',
        votable:question ,
        likes_count: question.likes_count,
        dislikes_count: question.dislikes_count,
        liked: question.liked(current_user.id),
        disliked: question.disliked(current_user.id)
      %>
    </div>

  </div>

  <%= render 'answers/answers' , answers: question.first_two_answers %>

  <% if show_answer_form %>
    <div class="p-4">
      <h3>Give Answer </h3>
      <%= render 'answers/form', question: question,  answer: question.answers.new %>
      <br>
    </div>
  <% end %>

</div>
