<p>Index file</p>



<p>
  <%= @date.strftime('%A, %b, %d, %Y') %>
</p>

<p>
  <%= formatted_date(@date)%>
</p>

<%= render_sample_button %>

<br>
<%= time_ago_in_words(Time.now)  %>

<br>
<%= number_to_human(10_000)  %>

<br>
<%= image_url("edit.png") %>

<br>

<%= stylesheet_url "application.css"  %>


<p>This is a special page.</p>

<% content_for :special_script do %>
  <h2>Hey this is special script</h2>
<% end %>

