<div class="row my-3">
  <div class="col-12 col-md-4 order-1 order-md-2   mt-5">
    <%= render @all_topics %>
  </div>
  <div class="col-12 col-md-8 order-2 order-md-1 ">
    <div>
      <%= search_form_for @q, url: root_path do |f| %>
        <%= f.label "Search Topic :" %>
        <%= f.search_field :title_cont %>
        <%= f.submit %>
      <% end %>
    </div>
    <div>
      <% if @topics.empty? %>
        <p class="mt-5"> No Topic found </p>
        <%= link_to "Add Topic", new_topic_path ,class:' ' %>

      <% else %>
        <% @topics.each do |topic| %>
          <h3 class="mt-4 font-weight-bold"><%= topic.title %></h3>
          <% if topic.all_questions.empty? %>
            <p>No Questions for this topic</p>
          <% else %>
            <%= render topic.all_questions , show_answer_form: false %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
