<%= form_with(model: [question, answer ], remote: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
      <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="field form-group">
    <%= form.label :text %>
    <%= form.text_area :text , class:"form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Submit", class:'btn btn-primary' %>
  </div>
<% end %>
